<div class="container">
    <div class="profileContainer">
        <div class="profileTop">
            <img src="when you add assets" />
            <p class="lead mb-3"><h1 class="mt-4">Hey <%= user.userName %></h1></p><br><br>

        </div>

        <div class="profileMain">

            <ul>
                <li><p class="lead mb-3"><h3 class="mt-4">First Name: <%= user.firstName %></h3> </p></li>
                <li><p class="lead mb-3"><h3 class="mt-4">Last Name: <%= user.lastName %></h3> </p></li>
                <li><p class="lead mb-3"><h3 class="mt-4">Address: <%= user.address %></h3>  </p></li>
                <li><p class="lead mb-3"><h3 class="mt-4">Country: <%= user.countryCode %></h3>  </p></li>
                <li><p class="lead mb-3"><h3 class="mt-4">Phone Number: <%= user.phoneNumber %></h3>  </p></li>
                <li><p class="lead mb-3"><h3 class="mt-4">Email: <%= user.email %></h3>  </p></li>
                <li><p class="lead mb-3"><h3 class="mt-4">Bank Name: <%= user.bank_name %></h3>  </p></li>
                <li><p class="lead mb-3"><h3 class="mt-4">Bank Account Number: <%= user.bank_account_number %></h3>  </p></li>
            </ul>




<!-- 
            <ol>
                <li><p>First Name </p></li>
                <li><p>Last Name</p></li>
                <li><p>Address </p></li>
                <li><p>Country </p></li>
                <li><p>Phone Number </p></li>
                <li><p>Email </p></li>
                <li><p>Bank Name </p></li>
                <li><p>Bank Account Number </p></li>
            </ol> -->

            <p><h4>Reset Password</h4></p>
            <p><h4>Change Something</h4></p>
        </div>
    </div>



</div>